HELP.md
.gradle
build/
bin/
local-dev/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
*.csv

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### tCell agent ###
tcell*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Emacs backup files
*.*~

### Mac directory metadata
.DS_Store

### OpenAPI CodeGen detritus
.openapi-generator/
pom.xml

